* {
    color: #3F3E3E;
    font-family: 'Spartan';
}

.error-message {
    color: red;
    font-size: 40px;
    margin: 100px auto;
    text-align: center;
    width: 82%;
}
.data-section {
    background-color: #FFE696;
    display: flex;
    flex-direction: column;
    height: 66vh;
}

.data-top {
    border-bottom: 1px solid #EDC95A;
    display: flex;
    margin-bottom: 4px;
}

.location-date {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.save-location-button {
    display: flex;
    align-items: center;
    background: #FFE696;
    border: none;
    border-radius: 4px;
    box-shadow:  5px 5px 10px #665c3c,
                -5px -5px 10px #fffff0;
    color: #7B7777;
    cursor: pointer;
    height: 22px;
    justify-content: center;
    margin-left: 40px;
    text-decoration: none;
}

.location,
.date {
    display: flex;
    font-size: 24px;
    margin: 0 120px 10px 160px;
}

.daily-uv {
    align-items: center;
    display: flex;
}

.uv-max {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.max-heading {
    margin-bottom: 6px;
}

.high-low-key {
    font-size: 24px;
    margin: 54px 30px 0;
}

.max-number {
    background: #FFE696;
    border-radius: 4px;
    box-shadow: inset 5px 5px 10px #baa86e,
                inset -5px -5px 10px #ffffbf;
    font-size: 32px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.safe-exposure {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 140px ;
}

.safe-exposure-heading {
    font-size: 30px;
    margin: 6px 0 10px 0;
}

input {
    background: #FFE696;
    border: none;
    border-radius: 4px;
    box-shadow: inset 5px 5px 10px #baa86e,
                inset -5px -5px 10px #ffffbf;
    height: 32px;
    margin: 10px 20px;
    text-align: center;
    width: 180px;
}

.exposure-inputs {
    display: flex;
    margin: 0 16px;
}

.exposure-minutes {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


.bottom-section {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    width: 80%;
}

.icon {
    width: 100px;
}

@media screen and (max-width: 800px) {
    .data-top {
        border-bottom: none;
        margin-bottom: 20px;
    }

    .location,
    .date {
        font-size: 24px;
        margin: 0 68px 0 60px;
        text-align: center;
    }
    .location {
        margin-bottom: 18px;
    }

    .safe-exposure {
        margin: 20px 10px 0 14px ;
    }

    .safe-exposure-heading {
        font-size: 26px;
        text-align: center;
    }
    
    .bottom-section {
        height: 30vh;
    }
    
    .protection-message {
        font-size: 30px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    .data-top {
        align-items: center;
        flex-direction: column;
    }

    .high-low-key {
        margin-right: 0;
    }

    .location,
    .date {
        margin-top: 10px;
    }
    
    .location{
        margin-bottom: 10px;
    }

    .uv-max {
        margin-left: 70px;
    }

    .safe-exposure-heading {
        font-size: 20px;
        text-align: center;
    }

    .bottom-section {
        height: 30vh;
        margin-top: 30px;
        text-align: center;
    }
}