.header{
    height: 16vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    margin-right: 80px;
    margin-top: 20px;
}

.nav-item {
    font-family: 'Spartan';
    font-size: 20px;
    padding: 18px 12px;
    width: 120px;
    list-style-type: none;
    text-decoration: none;
}

.nav-item.home {
    padding-right: 0;
}

.nav-item:hover {
    opacity: .5;
}

.title-logo {
    height: 90px;
    width: 360px;
    margin-top: 20px;
    margin-left: 60px;
}


