.hourly-chart-container {
    align-items: center; 
    background: #FFE696;
    border-radius: 4px;
    box-shadow: inset 5px 5px 10px #baa86e,
                inset -5px -5px 10px #ffffbf;
    display: flex; 
    justify-content: center;
    margin: 0 auto 14px;
    width: 760px;
}

.chart {
    padding: 8px 0;
    width: 72%;
}

@media screen and (max-width: 800px) {
    .hourly-chart-container {
        width: 100%
    }

    .chart {
        padding: 8px 0;
        width: 90%;
    }
}