.input-section {
    width: 100%;
    height: 42vh;
    background-color: #FFE696;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    color: #3F3E3E;
    font-family: 'Spartan';
    font-size: 36px;
    width: 30%;
    text-align: center;
}

.input-button {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-items: center;
}

.zipcode-input {
    border: none;
    cursor: pointer;
    font-family: 'Spartan';
    font-size: 24px;
    height: 40px;
    text-align: center;
    width: 160px; 
    margin-right: 20px;
    border-radius: 4px;
    background: #FFE696;
    box-shadow: inset 5px 5px 10px #baa86e,
                inset -5px -5px 10px #ffffbf;
}

.go-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7B7777;
    height: 56px;
    width: 56px;
    font-family: 'Spartan';
    font-size: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 22px;
    text-decoration: none;
    border-radius: 4px;
    background: #FFE696;
    box-shadow:  5px 5px 10px #665c3c,
                -5px -5px 10px #fffff0;
                transition: transform .2s;
}

.go-button:hover {
    transform: scale(.9);
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 60px;
}

.small-info-section {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.small-text {
    width: 240px;
    text-align: center;
}

.home-image {
    border-radius: 4px;
    width: 280px;
}

@media screen and (max-width: 960px) {
    .input-section {
        width: 100%;
    }

    .small-text {
        width: 200x;
        text-align: center;
    }
    
    .home-image {
        border-radius: 4px;
        width: 260px;
    }



    .small-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    } 
    .small-text {
        font-size: 22px;
        width: 400px;
        text-align: center;
    }
    
    .home-image {
        border-radius: 4px;
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .input-section {
        width: 100%;
        height: 34vh;
    }
    .slogan {
        color: #3F3E3E;
        font-family: 'Spartan';
        font-size: 24px;
        width: 86%;
        text-align: center;
        padding-top: 6px;
    }
    .small-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    } 
    .small-text {
        width: 600px;
        text-align: center;
    }
    
    .home-image {
        border-radius: 4px;
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .input-section {
        width: 100%;
        height: 32vh;
    }
    .slogan {
        color: #3F3E3E;
        font-family: 'Spartan';
        font-size: 24px;
        width: 86%;
        text-align: center;
        padding-top: 6px;
    }
    .small-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    } 
    .small-text {
        font-size: 16px;
        width: 300px;
        text-align: center;
    }
    
    .home-image {
        border-radius: 4px;
        width: 300px;
    }
}