* {
    font-family: 'Spartan';
}

.input-section,
.input-button,
.input-saved-zips,
.saved-zips,
.go-button {
    display: flex;
}

.input-section,
.input-saved-zips,
.small-info-section {
    flex-direction: column;
}

.input-section,
.input-button,
.zipcodes,
.go-button,
.small-info-section {
    align-items: center;
}

.zipcode-input,
.zipcodes,
.go-button,
.home-image {
    border-radius: 4px;
}

.input-section {
    background-color: #FFE696;
    height: 42vh;
    width: 100%;
}

.slogan {
    color: #3F3E3E;
    font-size: 36px;
    width: 30%;
    text-align: center;
}

.zipcode-input {
    border: none;
    background: #FFE696;
    box-shadow: inset 5px 5px 10px #baa86e,
                inset -5px -5px 10px #ffffbf;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 160px; 
}

.zipcodes,
.go-button {
    background: #FFE696;
    border: none;
    box-shadow:  5px 5px 10px #665c3c,
                -5px -5px 10px #fffff0;
    color: #7B7777;
    cursor: pointer; 
    justify-content: center;
    text-decoration: none;
    transition: transform .2s;
}
.zipcodes {
    height: 22px;
    margin: 0 10px;
    text-decoration: none;
}

.go-button {
    font-size: 24px;
    height: 56px;
    margin: 22px;
    text-align: center;
    width: 56px;
}

.go-button:hover,
.zipcodes:hover {
    transform: scale(.9);
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 60px;
}

.small-info-section {
    display: grid;
    justify-items: center;
}

.small-text {
    text-align: center;
    width: 240px;
}

.home-image {
    width: 280px;
}

@media screen and (max-width: 960px) {
    .input-section {
        width: 100%;
    }

    .small-text {
        text-align: center;
        width: 200x;
    }
    
    .home-image {
        border-radius: 4px;
        width: 260px;
    }

    .small-grid {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
    } 
    .small-text {
        font-size: 22px;
        text-align: center;
        width: 400px;
    }
    
    .home-image {
        border-radius: 4px;
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .input-section {
        height: 34vh;
        width: 100%;
    }
    .slogan {
        color: #3F3E3E;
        font-family: 'Spartan';
        font-size: 24px;
        padding-top: 6px;
        text-align: center;
        width: 86%;
    }
    .small-grid {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
    } 
    .small-text {
        text-align: center;
        width: 600px;
    }
    
    .home-image {
        border-radius: 4px;
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .input-section {
        height: 40vh;
        width: 100%;
    }
    .slogan {
        color: #3F3E3E;
        font-family: 'Spartan';
        font-size: 24px;
        padding-top: 6px;
        text-align: center;
        width: 86%;
    }
    .small-grid {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
    } 
    .small-text {
        font-size: 16px;
        text-align: center;
        width: 300px;
    }
    
    .home-image {
        border-radius: 4px;
        width: 300px;
    }
}